.mobile-storyline{
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  



  .mobile-story-content {
    width: 100%;
    display: flex;
    justify-content: center;
}



  
  .mobile-title {
    font-size: max(2vw, 24px);
    line-height: 1.1;
    padding-bottom: .4em;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  }
  
  .mobile-text {
    font-size: max(1vw, 15px);
    line-height: 1.4;
    overflow: hidden;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .mobile-accordions {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 20vh; */
  }
  
  .mobile-accordion {
    background: linear-gradient(200deg, #3eb8a2 13.57%, #4C774F 98.38%);
    width: max(50vw, 280px);
    padding: 25px 30px 10px;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
  }
  
  .mobile-accordion:nth-child(2) {
    background: linear-gradient(200deg,#01949A 13.57%, #004369 98.38%);
  }
  
  .mobile-accordion:nth-child(3) {
    background: linear-gradient(200deg, #093F2D 13.57%,#905FD0 98.38%);
  }
  
  .mobile-accordion:nth-child(4) {
    background: linear-gradient(200deg, #905FD0 13.57%, #DB1F48 98.38%);
    padding-bottom: 0vh !important;
  }
  
 
  
  @media (max-width: 480px) {
    .mobile-accordion {
      padding: 15px 20px 8px;
    }
    
    .mobile-title {
      font-size: 20px;
    }
  }
  


















.mobile-storyline.z-2 {
    display: flex;
    flex-direction: column;
}

.mobile-story-head {
    width: 100%;
    height: fit-content;
    font-size: 2rem;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
}


.mobile-story-head h2 {
    height: fit-content;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}