/* div#root {
    background-color: #242424;
} */

.grid-container {
    position: fixed !important;
}

.service-page {
    background-color: #242424;
    height: fit-content;
}
.service-page .service-image img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.service-page .service-heading {
    width: 50%;
    padding-left: 7.5vw;
}

.service-page .service-image {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-page .service-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    padding-top: calc(50vh - 150px);
    padding-bottom: 50px;
}
.service-page .service-description {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 7.5vw;
    padding-left: 7.5vw;
    flex-direction: column;
    color: white;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

.service-page .service-description p {
    font-size: 1rem;
    color: white;
    font-weight: 300 !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.service-description li {
    margin-left: 20px;
}
.service-callback {
    width: 100%;
    padding-right: 7.5vw;
    padding-left: 7.5vw;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.callback-button {
    padding: 10px 20px 10px 20px;
    box-shadow: inset 0 0 10px 0px #ffffff;
    color: #3eb8a2;
    border-radius: 50px;
}
.service-page .service-description p {
    text-align: left;
}

.service-page .service-description li {
    text-align: left;
}

@media screen and (max-width: 825px){
    .service-page .service-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .services-box {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    
    .service-page .service-image {
        width: 100%;
    }
    
    .service-page .service-image img {
        width: 80%;
        height: auto;
    }
    
    .service-page .service-description {
        padding-right: 5vw;
        padding-left: 5vw;
    }
    
    .service-page .service-description p {
        text-align: left;
    }
    
    .service-page .service-description li {
        text-align: left;
    }
}