.about_section{
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    position: relative;
    color: white;
    overflow: hidden;
    background-image: url(/images/road.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.background-image {
    height: 100vh;
    width: 100vw;
}

.about_frame{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    transform-origin: center;
}

.about_frame{
    pointer-events: none;
}





.about_us_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_us_content {
    width: 50%;
    padding: 20px;
    background-color: color(srgb 0.14 0.14 0.14 / 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 2px black;
    font-size: 1.25rem;
    scale: 0;
}


.about_us_content h2 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Poppins';
    font-weight: 500;
}