.services-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    min-height: 100vh;
    align-items: center;
    background-color: #242424;
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-image img {
    height: 2.5rem;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 85%;
    height: 80vh;
    overflow-x: hidden;
}

.service {
    width: 5vw;
    background-color: #3eb8a2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    box-shadow: -10px 0px 20px 0px inset #007e67;
    transition-duration: 0.5s;
    cursor: pointer;
}

.service-description {
    transition: font-size 1s ease;
    font-size: 0rem;
}

.service-title {
    display: flex;
    transform-origin: left;
    writing-mode: vertical-rl;
    font-size: 1.5rem;
}

.service.active {
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    box-shadow: none;
}

.service.active .service-image img {
    height: 12rem;
}

.service.active .service-title {
    writing-mode: horizontal-tb;
    font-size: 4rem;
}


@media screen and (max-width: 825px) {
    .services {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    
    .service-title {
        writing-mode: lr;
        font-size: 1.25rem;
    }
    
    .service {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 5px;
    }
    
    .service.active {
        display: flex;
        flex-direction: column;
    }
    
    .service.active .service-image img {
        height: auto;
        width: 80vw;
    }
    
    .service.active .service-image {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .service.active .service-title {
        font-size: 2.5rem;
    }
    
}