footer {
    z-index: 10 !important;
    position: relative;
    background-color: #242424;
    margin: 0px;
    padding: 0px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white !important;
}

footer p {
    margin: 0px;
    margin-left: 10px;
}