.blogs-page {
    min-height: 100vh;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* body{
  background-color: #242424;
} */
.blogs-heading {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.blogs-page-wrapper{
    width: 75%;
}


.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .blog-card {
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    text-align: center;
  }
  
  .blog-card:hover {
    transform: scale(1.05);
  }
  
  .blog-featured-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .blog-card h2 {
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
}
  
  .blog-card p {
    color: #ddd;
    padding: 0 10px 20px;
  }
  


  .z-2.blog-page-wrapper {
    width: 85%;
}

.blog-detail {
    display: flex;
    justify-content: center;
    background-color: #242424;
}

.blog-detail img {
    width: 100%;
}

.blog-detail div {
    color: white;
}


.blog-detail table {
  border: 1px solid white;
  border-collapse: collapse;
}

.blog-detail th {
  border: 1px solid;
}

.blog-detail td {
  border: 1px solid white;
}


.title-wrapper{
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width : 825px) {
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
}