.not-found {
    text-align: center;
    padding: 50px;
  }
  
  .not-found h1 {
    font-size: 3rem;
    /* color: red; */
  }
  
  .not-found p {
    font-size: 1.2rem;
  }
  
  .not-found a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px 20px;
    border-radius: 5px;
  }
  